*{
    margin:0px;
    padding:0px;

}
body{
    background-color: black;

}
#login{
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -400px;
    left: 35%;
    border-radius: 20px;
    padding: 40px;
}
#login h1{
    background-color: black;
    color: white;
}
#login input{
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    color: gray;
    outline-color: none;

}
#login button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
}
.alerta{
    background-color: red;
    color: white;
    padding: 5px;
    display: block;
    display: none;
}
#Elemento{
    width: 300px;
    height: 300px;
    border: 2x solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
#Elemento h2{
    color: black;
    font-size: 4rem;
    padding-top: 20px;
}
#Opciones{
    position: absolute;
    right: 200px;
    top: 50px;
    width: 300px;
    min-height: 300px;
}
#Opciones ul li{
    list-style: none;
    width: 100%;
    display: block;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}
#Opciones ul li{
    cursor: move;
    border: 13px dashed red;
}
#Opciones ul li h2{
    font-size: 7rem;
    color: black;
    padding-top: 30px;
    text-align: center;

}